
div{
    border: 1px solid black;
    margin: 20px;
    padding: 15px;
    background-color: lightgray;
    border-radius: 15px;
    box-shadow: 10px 12px black;
}

#cv_logo {
    width: 20%;
    float: left;
    border-radius: 50%;
}

body {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(
            to right, aliceblue, indigo
    );

    h3 {
        text-shadow: 10px 5px 3px white;
    }
}